/* #project-card {
    width: 18rem;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .btn-primary {
      margin-left:10px;
  }

  .card-body {
      font-weight: bold;
  }
